.page {
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0;
  box-sizing: border-box;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;

  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.6;
}
