.clothes-section {
  flex-grow: 1;
}

.clothes-section__button {
  margin: 0;
  border: hidden;
  background-color: #fff;
  background: transparent;
  cursor: pointer;
  gap: 20px;
}

.clothes-section__row {
  display: flex;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}

.clothes-section__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: start;
  gap: 20px;
  flex-grow: 1;
}
